@media (max-width: 1170px) {
    header {
        width: 1170px;
    }
    footer {
        width: 1170px;
    }
    .section-1 .section-2 .section-3 .section-4 {
        width: 1170px;
    }
    .yellow-brush {
        margin-left: 500px;
    }
}

@media (max-width: 1024px) {
    header {
        width: 1024px;
    }
    footer {
        width: 1024px;
    }
    .section-1 .section-2 .section-3 .section-4 {
        width: 1024px;
    }
    .yellow-brush {
        margin-left: 400px;
    }
    .icon-container {
        display: block;
        margin: 0 auto;
    }
}

@media (max-width: 768px) {
    header {
        width: 768px;
    }
    footer {
        width: 768px;
    }
    .section-1 .section-2 .section-3 .section-4 {
        width: 768px;
    }
    .yellow-brush {
        margin-left: 300px;
    }
}

@media (max-width: 480px) {
    header {
        width: 480px;
    }
    footer {
        width: 480px;
    }
    .section-1 .section-2 .section-3 .section-4 {
        width: 480px;
    }
    .yellow-brush {
        margin-left: 200px;
    }
    
}

@media (max-width: 320px) {
    header {
        width: 320px;
    }
    footer {
        width: 320px;
    }
    .section-1 .section-2 .section-3 .section-4 {
        width: 320px;
    }
    .yellow-brush {
        margin-left: 150px;
    }
}