.background-image {
    background-image: url(../img/cover.jpg);
    background-repeat: no-repeat;
    max-width: 1920px;
    width: 100%;
    height: 1080px;
    background-position: left top;
    background-size: cover;
    position: relative;
}
.header-text {
    display: flex;
}
.text-left {
    justify-content: space-between;
}
.text-right {
    justify-content: space-between;
}
.title1 {
    margin: 50px 605px 0 67px;
    font-weight: bold;
    font-size: 28px;
    color: whitesmoke;
}
.burger-logo {
    margin-left: 30px;
    margin-top: 30px;
}
.nav-li {
    display: flex;
    margin: 70px;
}
.nav-a {
    padding-right: 30px;
    font-size: 12px;
}
.text2 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    color: white;
    font-size: 100px;
}
.party-box {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}
.shape-box1 {
    width: 200px;
    border-radius: 20px;
    background-color: orange;
    height: 60px;
}

/* section 1 */
.icon-container {
    display: flex;
    margin: 100px;

}
.icon-text {
    margin-top: 50px;
    text-align: center;
}
.icon {
    width: 200px;
    height: 200px;
}
.red-text {
    font-size: 30px;
    color: red;
    margin-top: 30px;
    text-align: center;
}
.yellow-brush {
    margin-top: 15px;
    margin-bottom: 15px;
    align-items: center;
    margin-left: 380px;
}
.section-1 {
    max-width: 1920px;
    width: 100%;
}
.delicious-text {
    text-align: center;
}
.icon-ka {
    margin-left: 20px;
}
.orange-box {
    background-color: orange;
    width: 100%;
    height: 500px;
    display: flex;
}
.pizza-man {
    height: 500px;
}
.text-guarantee {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 30px;
    margin-bottom: 10px;
}
.text-delievery {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 20px;
}
.text-conteiner {
    margin-left: 200px;
    margin-top: 200px;
}
/* section 2 */
.food-container {
    max-width: 1920px;
    width: 100%;
    margin: 50px;
    display: flex;
    flex-wrap: wrap;

}
.round-box {
    width: 200px;
    height: 60px;
    border-radius: 15px;
    background-color: orange;
}
.card {
    /* text-align: center; */
    color: white;
    font-size: 20px;
    margin-top: 30px;
    margin-left: 30px;
}
.textbox-1 {
    margin-left: 20px;
    margin-top: 20px;
}
.text-atribute {
    font-size: 20px;
    margin-bottom: 10px;
}
.text-atribute1 {
    font-size: 15px;
    margin-bottom: 10px;
}
.box-text-wraper {
    display: flex;
}
.price {
    font-size: 20px;
    color: orangered;
    margin-top: 20px;
    margin-left: 20px;
}
.box-1 {
    margin-right: 20px;
    max-width: 500px;
    width: 100%;
    margin-bottom: 30px;
}
.top-box {
    max-width: 1920px;
    width: 100%;
    display: flex;    
}
.bottom-box {
    max-width: 1920px;
    width: 100%;
    display: flex;    
}
.red-round-box {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 500px;
    width: 200px;
    height: 60px;
    border-radius: 30px;
    background-color: red;
}
/* section-3 */
.background-image1 {
    background-image: url(../img/happy\ hours.png);
    background-repeat: no-repeat;
    max-width: 1920px;
    width: 100%;
    height: 700px;
    background-position: left top;
    background-size: cover;
    position: relative;
    }
.happy-hours {
    font-size: 70px;
    color: white;
    margin-bottom: 20px;
    }
.sale {
    font-size: 30px;
    color: white;
    letter-spacing: 5px;
}
.orange-boxes {
    width: 70px;
    height: 70px;
    background-color: orange;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
}
.text-in-box {
    font-size: 50px;
    text-align: center;
    color: white;
}
.days {
    font-size: 30px;
    color: white;
    margin-left: 50px;
}
.boxes {
    width: 150px;
    height: 150px;
}
.box-wraper {
    display: flex;
}
.text-wraper {
    margin-left: 100px;
    margin-top: 100px;
}
.section-3 {
    max-width: 1920px;
    width: 100%;
    max-height: 700px;
    height: 100%;
}
/* .text-box-wraper {
    margin-top: 200px;
} */
/* section-4 */
.section-4 {
    max-width: 1920px;
    width: 100%;
    margin-top: 30px;

}
.client-feedback {
    margin-top: 30px;
    margin: 0 auto;
    display: flex;
}
.client-texts {
    max-width: 700px;
    width: 100%;
    max-height: 700px;
    height: 100%;
    font-size: 50px;
}
.client {
    margin-left: 100px;
    padding: 50px;
    max-width: 700px;
    width: 100%;
    max-height: 700px;
    height: 100%;    
}
.client-text {
    margin-left: 100px;
    padding-top: 150px;
}
.white-boxes {
    display: flex;
}
.white-box {
    background-color: wheat;
    width: 300px;
    height: 300px;
    margin: 85px;
}
/* .orange-box2 {
    padding: 100px;
    background-color: orange;
    max-height: 700px;
    height: 100%;
    max-width: 1920px;
    width: 100%;
} */
.orange-line {
    width: 50px;
    height: 5px;
    background-color: orange;
    margin-left: 125px;
    margin-bottom: 10px;
}
.icon1 {
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 120px;
}
h2 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
    text-align: center;
}
h3 {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 10px;
    text-align: center;
}
.red-box {
    width: 920px;
    height: 700px;
    background-color: darkred;
}
.map {
    width: 1000px;
    height: 700px;
}
.box-map {
    display: flex;
}
.round-box1 {
    padding-top: 15px;
    margin-top: 100px;
    margin-bottom: 30px;
    margin-left: 350px;
    width: 200px;
    height: 60px;
    border-radius: 35px;
    background-color: orange;
}
.call-text {
    color: white;
    font-size: 30px;
    text-align: center;
    font-weight: 700;
}
.phone {
    margin-left: 350px;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 30px;
    font-weight: bold;
    color: white;
    font-stretch: expanded;
}
.time {
    color: white;
    font-size: 20px;
    margin-left: 30px;
    padding-top: 15px;
}
.clock-location {
    margin-left: 350px;
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
}
.icon-image {
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.icons {
    margin-left: 350px;
}